* {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    background-color: pink;
}

.headerNav {
    display: flex;
    flex-flow: row wrap;
}

.headerNav p {
    margin: 2em;
}